<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Parlor Dashboard</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="text-light">Welcome to the Party {{friend1}} !</h1>
        </header>
    </div>
    <div class="name">
        <ul>
            {% for name in friends %}
                <li>{{name}}</li>
            {% endfor %}
            {# this is a comment #}
        </ul>
    </div>
</body>
</html>